@media screen and  (max-width: 1280px){
    .conteudo-principal{
        display: block;
    }
    
}
@media screen and (max-width: 719px){
    .autor {
        width: auto;
        height: auto;
    }
    .titulo{
        width: auto;
        height: auto;
        font-size: 30px;
    }
    .buttons{
        display: block;
        justify-content: center;
    }
    .btn-2{
        margin-left: 0;
    }
    .descricao{
        width: 250px;
        height: auto;
        font-size: 20px;
    }
    .conteudo-imagem{
        display: none;
    }

}
@media screen and (max-width: 420px) {
    .cabecalho{
        justify-content: flex-end;
         padding: 0;
    }
    .conteudo{
        padding-left: 0;
    }
    .cabecalho-menu{
        gap: 5px;
    }
}
